.left-image {
  background: url("../images/slides/home/left.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  // background-position-y: 40%; // puts arnold in the picture
}

.center-image {
  background: url("../images/slides/home/center.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.right-image {
  background: url("../images/slides/home/right.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.center-text-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 5rem;
  flex-direction: column;

  span {
    text-transform: uppercase;
    letter-spacing: 1.68px;
    font-size: 2rem;
  }

  span.first-name {
    font-weight: 900;
    color: $color-gold;
    margin-right: 1rem;
  }

  span.last-name {
    color: $color-gold;
  }

  span.ex {
    font-weight: 900;
    color: #fff;
    margin-right: 1rem;
  }

  span.phys {
    color: #fff;
  }

  div.gold-separator {
    background-color: $color-gold;
    height: 0.2rem;
    width: 10rem;
    margin: 0.5rem 0;
  }

  div.message-container {
    width: 60%;
    text-align: center;
  }

  span.message {
    color: #fff;
    font-size: 1.5rem;
    text-transform: none;
    text-align: center;
  }
}

.back-to-basics-slide {
  display: flex;
  height: 100%;
  width: 100%;
  background: url("../images/slides/home/back_to_basics.png");
  background-size: cover;

  > div {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .video-frame {
    position: relative;

    > iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .hero-text {
    color: $color-gold;
    font-size: 7rem;
    font-family: flood-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    letter-spacing: 5.36px;
  }

  .hero-sub-text {
    font-family: Roboto;
    font-size: 3rem;
    color: $color-gold;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.84px;
    font-weight: 900;
    margin-top: -1rem;
  }

  span.message {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
  }

  span.here-now {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 2rem;

    :first-child {
      margin-right: 0.5rem;
    }

    > .gold-text {
      color: $color-gold;
    }

    > .white-text {
      color: #fff;
    }
  }

  div.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  div.gray-separator {
    background-color: $color-gray;
    height: 0.2rem;
    width: 10rem;
    margin: 2.5rem 0;
  }
}

.feature-container {
  background-color: $color-gold;
  height: 40rem;
  opacity: 0.83;
  width: 100%;
  transition: all 200ms ease-in;
  position: relative;
  text-align: center;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #fff;
    font-size: 2rem;
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
    opacity: 0.8;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.feature.one {
  background: url("../images/slides/home/feature-1.png");
  background-size: cover;
  height: 100%;
  width: 100%;

  span {
    background-color: $color-gold;
  }
}

.feature.two {
  background: url("../images/slides/home/feature-2.png");
  background-size: cover;
  height: 100%;
  width: 100%;

  span {
    background-color: $color-gray;
  }
}

.feature.three {
  background: url("../images/slides/home/feature-3.png");
  background-size: cover;
  height: 100%;
  width: 100%;

  span {
    background-color: $color-gold;
  }
}

.feature.four {
  background: url("../images/slides/home/feature-4.png");
  background-size: cover;
  height: 100%;
  width: 100%;

  span {
    background-color: $color-gray;
  }
}

.feature.five {
  background: url("../images/slides/home/feature-5.png");
  background-size: cover;
  height: 100%;
  width: 100%;

  span {
    background-color: $color-gold;
  }
}

.fitness-community-slide {
  display: flex;
  height: 100%;
  width: 100%;
  background: url("../images/slides/home/kristie_head_on_pushup.png");
  background-size: cover;
  justify-content: center;
  align-items: flex-end;

  span {
    font-size: 4rem;
    font-family: flood-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    letter-spacing: 0;
  }
}

.testimonials-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: url("../images/slides/home/testimonial_background.png");
  background-size: cover;
  justify-content: center;
  padding-top: 5rem;

  .by-the-people {
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 600;
    background-color: $color-gray;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
  }
}
