.social-media-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: url("../images/slides/home/testimonial_background.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  .instructions {
    text-align: center;
    padding-bottom: 5rem;

    & span {
      font-family: Roboto;
      font-size: 3rem;
    }
    span.title {
      text-transform: uppercase;
    }
    .gold {
      color: $color-gold;
    }
    .gray {
      color: $color-light-gray;
    }

    span.description {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  .image-container {
    background-color: #fff;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .image {
    margin-bottom: 1.5rem;
    height: 10rem;
    width: 10rem;

    &.image-1 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_2.png");
      background-size: contain;
    }

    &.image-2 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_4.png");
      background-size: contain;
    }

    &.image-3 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_5.png");
      background-size: contain;
    }

    &.image-4 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_6.png");
      background-size: contain;
    }

    &.image-5 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_7.png");
      background-size: contain;
    }

    &.image-6 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_11.png");
      background-size: contain;
    }

    &.image-7 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_13.png");
      background-size: contain;
    }

    &.image-8 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_15.png");
      background-size: contain;
    }

    &.image-9 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_17.png");
      background-size: contain;
    }

    &.image-10 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_20.png");
      background-size: contain;
    }

    &.image-11 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_21.png");
      background-size: contain;
    }

    &.image-12 {
      background: url("../images/slides/social-media/KL_SocialMediaSection_27.png");
      background-size: contain;
    }
  }
}
